body {
  height: 100vh;
}
nav {
  height: 6vh;
}

main {
  height: 92vh;
  margin-top: 2vh;
}

#bg {
  border: 3px solid #362e20;
  width: 60%;
  margin: 0 auto;
}

#bg img {
  min-width: 100%;
}

.crear-edificio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crear-edificio input {
  text-align: center;
  font-weight: bold;
  border: 3px solid #362e20;
  background-color: white;
  width: 8rem;
}

.crear-edificio input:hover {
  filter: brightness(0.9) contrast(1.2);
}
